Source: cpmtools
Section: otherosfs
Priority: optional
Maintainer: Stephan Linz <linz@li-pro.net>
Build-Depends: debhelper (>= 9), libncurses-dev, autotools-dev
Standards-Version: 3.9.8
Homepage: http://www.moria.de/~michael/cpmtools/
Vcs-Git: https://github.com/lipro-pkgs/cpmtools.git
Vcs-Browser: https://github.com/lipro-pkgs/cpmtools

Package: cpmtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tools to access CP/M file systems
 This package allows access to CP/M file systems similar to the well-known 
 mtools package, which accesses MSDOS file systems.
 .
 All CP/M file system features are supported.
